/* Chamada da fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.header{
    width: 100%;
    height: 80px;
    padding: 15px;
    color: #000;
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    top:0;
    left: 0;
}

.header-title{
    font-size: 5vmin;
    font-weight: 700;
}

.header-nav ul{
    display:flex
}
.header-nav li{
    margin: 0 20px;
}
.header-nav a {
    font-size: 1rem;
    font-weight: 700;
    color: #000;
    transition: .3s;
}

.header-nav a:hover {
    color: silver;
}
.secao{
    margin: 20px;
    text-align:justify;
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}